body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 40%;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
}

button:hover {
    background: #0056b3;
}

a {
    text-decoration: none;
}